<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bbshop.mapper.CartMapper">

    <sql id="Base_Column_List">
        id,user_id,shop_id,goods_id,num
    </sql>

    <select id="selectAll" resultType="com.bbshop.entity.Cart">
        select cart.*, shop.name as shopName, goods.img as goodsImg, goods.name as goodsName, goods.price as goodsPrice, goods.unit as goodUnit
        from cart
        left join shop on cart.shop_id = shop.id
        left join goods on cart.goods_id = goods.id
        <where>
            <if test="id != null"> and id= #{id}</if>
            <if test="userId != null"> and user_id = #{userId}</if>
            <if test="shopId != null"> and shop_id = #{shopId}</if>
            <if test="goodsId != null"> and goods_id = #{goodsId}</if>
            <if test="num != null"> and num = #{num}</if>
        </where>
    </select>

    <select id="selectById" resultType="com.bbshop.entity.Cart">
        select
        <include refid="Base_Column_List" />
        from cart
        where id = #{id}
    </select>

    <delete id="deleteById">
        delete from cart
        where  id = #{id}
    </delete>

    <insert id="insert" parameterType="com.bbshop.entity.Cart" useGeneratedKeys="true">
        insert into cart
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="userId != null">user_id,</if>
            <if test="shopId != null">shop_id,</if>
            <if test="goodsId != null">goods_id,</if>
            <if test="num != null">num,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="userId != null">#{userId},</if>
            <if test="shopId != null">#{shopId},</if>
            <if test="goodsId != null">#{goodsId},</if>
            <if test="num != null">#{num},</if>
        </trim>
    </insert>

    <update id="updateById" parameterType="com.bbshop.entity.Cart">
        update cart
        <set>
            <if test="userId != null">
                user_id = #{userId},
            </if>
            <if test="shopId != null">
                shop_id = #{shopId},
            </if>
            <if test="goodsId != null">
                goods_id = #{goodsId},
            </if>
            <if test="num != null">
                num = #{num},
            </if>
        </set>
        where id = #{id}
    </update>

</mapper>